@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {
    background: url("mountain.png");
    background-position: center;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.header {
    height: 10%;
    display: flex;
    background-color: rgba(44, 0, 221, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    margin-top: 10px;
    width: 200px;
    height: 90px;
    animation: fadeDown 1.5s;
    pointer-events: none;
}


.header ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    animation: fadeDown 1.5s;
}

.header ul li {
    display: inline-block;
    padding: 10px 20px;
}

.header ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header ul li a:hover {
    color: rgb(230, 255, 66);
    transition: .3s;
    text-shadow: 4px 4px 10px black;
}

.about {
    padding-top: 40px;
    margin: 20px;
    text-align: center;
}

.about p {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.about img {
    width: 80%;
    height: 30%;
    animation: fadeIn 1s;
    border-style: dotted;
    border-width: 3px;
    border-color: blue;
    pointer-events: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.experience {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 3%;
}

.experience p {
    /* text-align: center; */
    margin-top: 3.5%;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 6px black;
}

.row {
    display: flex;
    justify-content: space-between; 
    margin: 10px 0;
    padding: 0 10px;
    overflow: hidden;
}

.row .panels {
    flex: 1;
    height: 350px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    margin: 0 10px;
    font-size: inherit;
}

.row .panels img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.row .panels .overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row .panels .panel-text {
    position: absolute;
    top: 50%; /* Position text vertically in the middle */
    left: 50%; /* Position text horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the text */
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 14px;
}

.row .panels:hover .overlay {
    opacity: 1;
}

.row .panels:hover .panel-text {
    opacity: 1;
}

.exp-panel {
    flex: 1;
    margin-top: 5%;
}

.exp-panel p {
    margin-top: 3.5%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: black;
}

.panels {
    flex: 1;
    height: 350px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    /* padding: 20px; */
    /* border-style: dotted;
    border-width: 3px; */
    border-color: blue;
    margin: 0 10px;
}

.footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 160px;
    background-color: rgba(0, 89, 255, 0.5);
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer img {
    margin-left: 10%;
    margin-top: 3.5%;
    width: 140px;
    height: 60px;
}


.footer .row {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: white;
}

.footer .row a {
    color: white;
    text-decoration: none;
}

.footer .row a:hover {
    color: rgb(230, 255, 66);
    transition: .3s;
    text-shadow: 4px 4px 15px black;
}
